{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {},
        "transform-runtime": {},
        "styled-jsx": {},
        "class-properties": {}
      }
    ]
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "@yzy/web-components",
        "libraryDirectory": "dist",
        "camel2DashComponentName": false
      },
      "@yzy/web-components"
    ]
  ]
}
